<!DOCTYPE html>
<html>
	<head>
		<title>New Car Form</title>
	</head>
	<body>
	<h2>Enter New Car Information</h2>
	<form>
		<div>
		<label>Your Name:</label>
		<input type="text" name="name">
		</div>
		<div>
		<label>Make:</label>
		<input type="text" name="make">
		</div>
		<div>
		<label>Model:</label>
		<input type="text" name="model">
		</div>
		<div>
		<label>Miles:</label>
		<input type="text" name="miles">
		</div>
		<div>
		<label>Color:</label>
		<input type="text" name="color">
		</div>
		<label>Comments</label>
		<textarea name="comments"></textarea>
	</form>
	</body>
</html>